BEGIN CHARACTERS;
{{- if .Title}}
	TITLE {{.Title | quote}};
{{- end}}
	DIMENSIONS NCHAR={{.Dimensions}};
{{- /* Print the FORMAT command dynamically */}}
{{- $formatCmd := .Format.String}}
{{- if $formatCmd}}
{{$formatCmd}}
{{- end}}

{{- /* Print CHARSTATELABELS if there are names defined */}}
{{- if .HasCharStateLabels}}
	CHARSTATELABELS
{{- $first := true}}
{{- range .Matrix.Characters}}
	{{- if or .Name .StateLabels}}
		{{- if not $first}},{{end}}{{$first = false}}
		{{.Index}} {{if .Name}}{{.Name | quote}}{{end}} {{if .StateLabels}}/ {{range .StateLabels}}{{. | quote}} {{end}}{{end}}
	{{- end}}
{{- end}};
{{- end}}

	MATRIX
{{- /* MATRIX RENDERING LOGIC */}}
{{- $format := .Format}}
{{- $maxLen := .MaxTaxonNameLength}}
{{- $firstTaxon := index .Matrix.Taxa 0}}
{{- if not .Format.Interleave}}
{{- /* STANDARD MATRIX: One row per taxon */}}
{{- range $rowIndex, $taxon := .Matrix.Taxa}}
	{{if $format.Labels}}{{ $taxon.Name | snake | quote | pad $maxLen }}{{end}}
	{{- range $char := $.Matrix.Characters}}
		{{- $state := $taxon.GetState $char}}
		{{- $firstState := $firstTaxon.GetState $char}}
		{{- if $format.Tokens}} {{end}}{{if and (ne $rowIndex 0) (ne $format.MatchChar "") (eq ($state.String $format) ($firstState.String $format))}}{{ $format.MatchChar }}{{else}}{{ $state.String $format }}{{end}}
	{{- end}}
{{- end}}
{{- else}}
{{- /* INTERLEAVED MATRIX: Blocks of 70 characters */}}
{{- range $cIdx, $chunk := ($.InterleavedChunks .Format.InterleaveSize)}}
	{{- if gt $cIdx 0}}{{"\n"}}{{end}}
	{{- range $rowIndex, $taxon := $.Matrix.Taxa}}
	{{if $format.Labels}}{{ $taxon.Name | snake | quote | pad $maxLen }}{{end}}
		{{- range $char := (slice $.Matrix.Characters $chunk.Start $chunk.End)}}
			{{- $state := $taxon.GetState $char}}
			{{- $firstState := $firstTaxon.GetState $char}}
			{{- if $format.Tokens}} {{end}}{{if and (ne $rowIndex 0) (ne $format.MatchChar "") (eq ($state.String $format) ($firstState.String $format))}}{{ $format.MatchChar }}{{else}}{{ $state.String $format }}{{end}}
		{{- end}}
	{{- end}}
{{- end}}
{{- end}}
	;
END;